<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup> 
  <connectionStrings>
    <add name="AdventureWorksConnectionString" connectionString="Data Source=KRZYS-PC;Initial Catalog=AdventureWorks;Integrated Security=True;Persist Security Info=True;TrustServerCertificate=False" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>